<%= form_with(model: comply_advantage_news, url: url, remote: false) do |form| %>
  <% if comply_advantage_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comply_advantage_news.errors.count, "error") %> prohibited this comply_advantage_news from being saved:</h2>

      <ul>
        <% comply_advantage_news.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :story %>
    <%= form.text_field :story %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
