<p id="notice"><%= notice %></p>

<h1>Comply Advantage News</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Score</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comply_advantage_news.each do |comply_advantage_news| %>
      <tr>
        <td><%= comply_advantage_news.company.try(:name) %></td>
        <td><%= comply_advantage_news.score %></td>
        <td><%= comply_advantage_news.story %></td>
        <td><%= link_to 'Show', company_comply_advantage_news_path(@company, comply_advantage_news) %></td>
        <td><%= link_to 'Edit', edit_company_comply_advantage_news_path(@company, comply_advantage_news) %></td>
        <td><%= link_to 'Destroy', company_comply_advantage_news_path(@company, comply_advantage_news), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comply Advantage News', new_company_comply_advantage_news_path(@company) %> |
<%= link_to 'Back', companies_path %>
