<p id="notice"><%= notice %></p>

<p>
  <strong>Company Number:</strong>
  <%= @comply_advantage_news.company_number %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comply_advantage_news.score %>
</p>

<p>
  <strong>Story:</strong>
  <%= @comply_advantage_news.story %>
</p>

<%= link_to 'Back', comply_advantage_news_index_path %>
