<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @comply_advantage_news.company_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comply_advantage_news.score %>
</p>

<p>
  <strong>Story:</strong>
  <%= @comply_advantage_news.story %>
</p>

<%= link_to 'Back', company_comply_advantage_news_index_path(@company) %>
