<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @company.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @company.address_line_2 %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @company.post_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
