<!DOCTYPE html>
<html>
  <head>
    <title>CompanyHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
          <%= link_to 'Home', root_url %> |
          <%= link_to 'Companies House', companies_path %> |
          <%= link_to 'Comply Advantage PEP', comply_advantage_peps_path %> |
          <%= link_to 'Comply Advantage News', comply_advantage_news_index_path %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
